body {
    margin: 0;
    padding: 0;
    background-color: #FAF9F6;
}

.aboutMeBody {
    background-color: #FAF9F6;
    max-width:2000px;
    margin: 0 auto;
    justify-content: center;
}

.header{
    display: flex;
    align-items: center;
    padding-right: 10px;
}

.socialContainer{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: .2vw;
    top: 10px;
}

.socialContainer a img{
    width: max(30px,1.8vw);
    height: auto;
    opacity: .5;
    transition: opacity 0.3s ease-in-out;
}

.socialContainer a img:hover {
    opacity: 1; 
}

.title {
    display: flex;
    flex-direction: row;
    text-align: left;
    font-family: sans-serif;
    overflow:hidden;
    font-size: max(8px, 0.5vw);
    font-style: italic;
    align-items: center;
    padding-left: 10px;
}

.titleName{ 
    color: #626262;
}

.navigationButtons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.navigationButtons button {
    color: #aaa;
    background-color: transparent;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: color 0.3s ease-in-out;
    margin: 0 5px;
    font-size: max(15px, 1.1vw);
}

.navigationButtons button:hover {
    color: #626262;
}

.hamburgerIcon {
    display:none;
}

.overlayMobileNavContainer {
    display: None;
    flex-direction: column;
    align-items: center;
    position: absolute;
    z-index: 900;
    box-sizing: border-box;
    min-height:100vh;
    min-width:100vw;
    text-align: center;
    justify-content: top;
    overflow: hidden;
    transition: left 0ms linear 100ms;
    background-color:#FAF9F6;
}

.overlayMobileNavWrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mobileNavButton{
    margin: 15px;
    padding: 0px 10vw;
    font-family: "Figtree", sans-serif;
    font-size: 22px;
    max-width: 250px;
    height: 50px;
    line-height: 50px;
    font-weight: bold;
    text-decoration: none;
    background: transparent;
    text-align: center;
    color: black;
    letter-spacing: 1px;
    overflow: hidden;
    z-index: 1;
    transition: color 300ms ease-in-out;
    cursor: pointer;
    border-color:transparent;
}

.mobileNavButton:after{
    content: '';
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    width: 0;
    height: 100%;
    z-index: -1;
}

.mobileNavButton:hover::after {
    width: 110%;
    -webkit-transition: width 300ms ease-in-out;
    transition: width 300ms ease-in-out;
}

.mobileNavButton:hover {
    color: white;
    transform: scale(1.1);
}

.homeButton:hover::after{
    background-color: #c77a77;
    width: 110%;
    position: absolute;
}

.aboutMeButton:hover::after{
    background-color: #99BADD;
    width: 110%;
    position: absolute;
}

.resumeButton:hover::after{
    background-color: #7BC17E;
    width: 110%;
    position: absolute;
}

.projectButton:hover::after{
    background-color: #F49E78;
    width: 110%;
    position: absolute;
}

.socialContainerMobile{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 4vw;
    padding-top: 20%;
}

.socialContainerMobile a img{
    width: max(60px,2.5vw);
    height: auto;
    opacity: .5;
    transition: opacity 0.3s ease-in-out;
}

.socialContainerMobile a img:hover {
    opacity: 1; 
}

.no-scroll {
    overflow: hidden;
}

.openingSection {
    padding-left: 70px;
    text-align: left;
    padding-right: 10px;
}

.headerContainer {
    margin: 0 auto;
}

.headerContainer h2 {
    padding-top: 40px;
    color: #99BADD;
    font-size: 115px;
    margin-bottom: 10px;
    text-shadow: -1px 0 #cdcdcd, 0 1px #cdcdcd, 1px 0 #cdcdcd, 0 -1px #cdcdcd;
}

.headerContainer p {
    color: #626262;
    font-size: 50px;
    margin-top: 0;
    margin-left: 20px;
    position: relative;
    overflow: hidden;
    font-family: "Figtree",sans-serif;
}

.aboutMeMainPic {
    text-align: center;
    padding-top: 30px;
}

.aboutPic {
    width:80%;
    max-width: 1200px;
    height: auto;
    border-radius:10px;
    transition: transform 0.5s ease-in-out;
}

.aboutMeMainPic.enlarged .aboutPic {
    transform: scale(1.1);
}

.aboutMeBottom {
    padding-top: 100px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 5vw;
    padding-left: 10px;
}

.photoStripContainer {
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.stripPicContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stripPic {
    height: max(150px, 22vw);
    width: max(150px, 22vw);
    border: 2px solid #ccc;
    overflow: hidden;
    margin-bottom: 10px;
}

.stripPic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.stripPic.vertical img {
    object-position: center top;
}

.abMeSectionTitle {
    font-size: max(18px, 43px);
    padding-right: 30px;
    color:#99BADD;
    text-shadow: -.2px 0 #cdcdcd, 0 .2px #cdcdcd, .2px 0 #cdcdcd, 0 -.2px #cdcdcd;
    font-weight: bold;
    font-family: "Figtree",sans-serif;
}

.abMeParagraph {
    font-size: max(10px, 33px);
    padding-top: 20px;
    padding-right: 30px;
    color: #333333;
    padding-left: 5px;
    font-family: "Figtree",sans-serif;
}

.boldenSection {
    font-weight: bold;
    padding-top: 40px;
    padding-bottom: 30px;
    color: #333333;
    padding-left: 10px;
    font-family: "Figtree",sans-serif;
}

.signature {
    font-size: max(15px, 40px);
    font-style: italic;
    padding-top: 20px;
    padding-right: 30px;
    padding-left: 30px;
    color: #99BADD;
    text-shadow: -.2px 0 #cdcdcd, 0 .2px #cdcdcd, .2px 0 #cdcdcd, 0 -.2px #cdcdcd;
    font-weight: bold;
    font-family: "Figtree",sans-serif;
}


@media only screen and (min-width: 601px) and (max-width: 1080px) {
    .abMeSectionTitle {
        font-size: 25px;
    }

    .abMeParagraph {
        font-size: 20px;
    }

    .signature {
        font-size: 25px;
    }
}

@media only screen and (max-width: 600px) {
    .openingSection {
        padding-left: 20px;
    }

    .titleName{ 
        display: none;
    }

    .navigationButtons{
        display:none;
    }

    .socialContainer{
        display:none;
    }

    .hamburgerIcon {
        display:flex;
        padding-top: 5px;
    }

    .mobileMenu{
        width: max(35px,1.9vw);
        height: auto;
        opacity: .5;
        transition: opacity 0.3s ease-in-out;
    }

    .mobileMenu:hover {
        opacity: 1; 
        cursor: pointer;
    }

    .headerContainer h2 {
        padding-top: 40px;
        font-size: 90px;
    }

    .headerContainer p {
        font-size: 30px;
    }

    .aboutPic {
        width:90%;
        height: auto;
        border-radius:10px;
        transition: transform 0.5s ease-in-out;
    }

    .aboutMeBottom {
        flex-direction: column;
        align-items: flex-start;
        align-items: center;
    }

    .photoStripContainer {
        margin-top: 10px;
        order: 2; 
    }

    .stripPicContainer {
        overflow: hidden;
        width: 100%;
        text-align: center;
    }

    .stripPic {
        display: none;
        height: 300px;
        width: 300px;
    }

    .stripPic:first-child {
        display: block;
    }

    .abMeSectionTitle {
        font-size: 25px;
    }

    .abMeParagraph {
        font-size: 19px;
    }

    .signature {
        font-size: 25px;
    }

    .aboutMeBottom {
        padding-bottom:50px;
    }

}