.landingPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
}

/*Name Typing Out Styling*/
#typedOutName {
    padding-top: 10vh;
    padding-bottom: 18vh;
    display: flex;
    flex-direction: column;
  }
  
  .typewriter {
    font-family: "benton-sans-compressed", sans-serif;
    letter-spacing: 0.15em;
    font-size: max(25px, 3.3vw);
    margin: 0;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    margin: 0 auto;
  }
  
  .typewriter::after {
    content: attr(data-text);
    display: inline-block;
    vertical-align: middle;
    width: 0;
    overflow: hidden;
    border-right: 0.15em solid transparent;
    animation: typing 1.1s steps(30, end) forwards, blink-caret 0.5s step-end 3.5s infinite;
  }
  
  @keyframes typing {
    from {
        width: 0;
        border-right: 0.15em solid black;
    }
    to {
        border-right: 0.15em solid black;
    }
    25% {
        border-right: 0.15em transparent;
    }
    50% {
        border-right: 0.15em solid black;
    }
    75% {
        border-right: 0.15em solid transparent;
    }
    100% {
        width: 100%;
        border-right: 0.15em solid black;
    }
}

@keyframes blink-caret {
    from,
    to {
        border-color: black;
    }
    25% {
        border-color: transparent;
    }
    50% {
        border-color: black;
    }
    75% {
        border-color: transparent;
    }
    100% {
        border-color: black;
    }
}

 #typedOutName h1:last-child::after {
    animation-delay: 1.1s;
  }

/*Button Styling*/
#mainNavButtons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    margin-top: 15vh;
    padding-bottom: 10vh;
}

.buttonWrapper {
    display: flex;
}

.button {
    margin: 40px;
    padding: 10px 10vw;
    font-family: "benton-sans-compressed", sans-serif;
    font-size: max(15px, 1.8vw);
    max-width: 250px;
    height: 50px;
    line-height: 50px;
    font-weight: bold;
    text-decoration: none;
    background: transparent;
    text-align: center;
    color: black;
    letter-spacing: 1px;
    /*border: 3px solid #333;*/
    overflow: hidden;
    z-index: 1;
    transition: color 300ms ease-in-out;
    cursor: pointer;
    position: relative;
}

.button:after {
    content: '';
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    width: 0;
    height: 100%;
    z-index: -1;
    transition: width 300ms ease-in-out;
}

.aboutMeButton:after{
    background: #99BADD;
}

.resumeButton:after{
    background: #7BC17E;
}

.button:hover {
    color: white;
    transform: scale(1.1);
    &:after {
        width: 110%;
    }
}
