/*Splash Page*/
.introPage {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    font-style: italic;
    position: fixed;
    background-color: #161616;
    transition: 1s;
    width: 100%;
    height: 100vh;
    z-index: 1;
    left: 0;
    top: 0;
}

.introWrapper {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    display: flex;
}

.intro {
    position: relative;
    display: inline-block;
    bottom: -20px;
    opacity: 0;
    color: white;
    padding-left: 10px;
}

.intro.active {
    bottom: 0;
    opacity: 1;
    transition: ease-in-out .5s;
}

.intro.fade {
    bottom: 150px;
    opacity: 0;
    transition: ease-in-out .5s;
}

/*Actual Landing Page*/
.landingPageBody {
    background-color: white;
}

.header{
    display: inline-block;
}

.socialContainer{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: fixed;
    gap: 10px;
    top: 10px;
    right: 10px;
    padding-right: 10px;
    padding-top: 5px;
}

.socialContainer a img{
    width: max(30px,1.8vw);
    height: auto;
    opacity: .5;
    transition: opacity 0.3s ease-in-out;
}

.socialContainer a img:hover {
    opacity: 1; 
}

.title {
    display: flex;
    flex-direction: row;
    text-align: left;
    font-family: sans-serif;
    overflow:hidden;
    font-size: max(8px, 0.5vw);
    font-style: italic;
    align-items: center;
    padding-left: 10px;
}

.titleName{
    color: #626262
}

.titleDesc {
    color: #aaa;
    margin-left: 3px;
}

@media only screen and (max-width: 600px) {
    .titleDesc {
        display: none;
    }
}

.landingPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
}

/*Name Typing Out Styling and box*/
.shapeSection {
    position: relative;
    height: max(250px, 22vw);
    width: max(250px, 22vw);
    text-align: center;
    transform: rotate(45deg) scale(1);
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -80px;
    box-shadow: 0 0 1px black;
    /*had to place the background as -45deg, gonna clean up later*/
    background-image: url('images/csgOG.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#nameHeader {
    padding: 5vh 0 8vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    transform: rotate(-45deg) scale(1);
    text-align: center;
    font-size: max(1.3rem, 2vw);
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    vertical-align: middle;
}

.typewriter {
    letter-spacing: 0.15em;
    margin: 0;
    overflow: hidden;
    white-space: nowrap;
    margin: 0 auto;
}

.typewriter::after {
    content: attr(data-text);
    display: inline-block;
    width: 0;
    overflow: hidden;
    border-right: 0.15em solid transparent;
    animation: typing 1s steps(30, end) forwards, blink-caret 0.5s step-end 2.5s infinite;
}

@keyframes typing {
    from {
        width: 0;
        border-right: 0.15em solid white;
    }
    to {
        border-right: 0.15em solid white;
    }
    25% {
        border-right: 0.15em transparent;
    }
    50% {
        border-right: 0.15em solid white;
    }
    75% {
        border-right: 0.15em solid transparent;
    }
    100% {
        width: 100%;
        border-right: 0.15em solid white;
    }
}

@keyframes blink-caret {
    from,
    to {
        border-color: white;
    }
    25% {
        border-color: transparent;
    }
    50% {
        border-color: white;
    }
    75% {
        border-color: transparent;
    }
    100% {
        border-color: white;
    }
}

.typewriter:nth-child(1)::after{
    animation-delay: 2.9s;
}
.typewriter:nth-child(2)::after{
    animation-delay: 4s;
}

/*#nameHeader h1:last-child::after {
    animation-delay: 1.1s;
}*/


.buttonWrapper {
    display: none;
    padding-top: 5%;
    margin-top: 5%;
}

.button {
    margin: 40px;
    padding: 10px 10vw;
    font-family: sans-serif;
    font-size: max(15px, 1.3vw);
    max-width: 250px;
    height: 50px;
    line-height: 50px;
    font-weight: bold;
    text-decoration: none;
    background: transparent;
    text-align: center;
    color: black;
    letter-spacing: 1px;
    overflow: hidden;
    z-index: 1;
    transition: color 300ms ease-in-out;
    cursor: pointer;
    position: relative;
}

.button:after {
    content: '';
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    width: 0;
    height: 100%;
    z-index: -1;
    transition: width 300ms ease-in-out;
}

.aboutMeButton:after{
    background: #99BADD;
}

.resumeButton:after{
    background: #7BC17E;
}

.button:hover {
    color: white;
    transform: scale(1.1);
    &:after {
        width: 110%;
    }
}
