.landingPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
}

#typedOutName {
    padding-top: 10vh;
}

.typewriter {
    overflow: hidden;
    white-space: nowrap;
    margin: 0 auto;
    font-family: "benton-sans-compressed", sans-serif;
    font-size: max(25px, 2.5vw);
    letter-spacing: 0.15em;
    position: relative;
}

.typewriter::after {
    content: attr(data-text);
    display: inline-block;
    vertical-align: middle;
    width: 0;
    overflow: hidden;
    border-right: 0.15em solid blue;
    animation: typing 3.5s steps(30, end) infinite, blink-caret 0.5s step-end infinite;
}

.typewriter.thorp::after {
    animation-delay: 3.5s; /* Delayed by the duration of the "Jack" animation */
}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange }
}

#mainNavButtons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    margin-top: 15vh;
    padding-bottom: 10vh;
}

.buttonWrapper {
    display: flex;
}

.button {
    margin: 40px;
    padding: 10px 10vw;
    font-family: "benton-sans-compressed", sans-serif;
    font-size: max(15px, 1.8vw);
    max-width: 250px;
    height: 50px;
    line-height: 50px;
    font-weight: bold;
    text-decoration: none;
    background: transparent;
    text-align: center;
    color: black;
    letter-spacing: 1px;
    /*border: 3px solid #333;*/
    overflow: hidden;
    z-index: 1;
    transition: color 300ms ease-in-out;
    cursor: pointer;
    position: relative;
}

.button:after {
    content: '';
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    width: 0;
    height: 100%;
    z-index: -1;
    transition: width 300ms ease-in-out;
}

.aboutMeButton:after{
    background: #99BADD;
}

.resumeButton:after{
    background: #7BC17E;
}

.button:hover {
    color: white;
    transform: scale(1.1);
    &:after {
        width: 110%;
    }
}
